{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}User Profile{% endblock %}

{% block content %}
  <h1>Profile for @{{ profile.user.username }}</h1>
    <p>
      <a href="{% url 'microblog:allposts' %}"><button class="btn btn-default">All Posts</button></a>
      <a href="{% url 'microblog:myfeed' %}"><button class="btn btn-default">My Feed</button></a>
      {% if profile.user == request.user %}
      <a href="{% url 'microblog:updateprofile' profile.id %}"><button class="btn btn-default">Edit Profile</button></a>
      {% endif %}
    </p>

    {% thumbnail profile.profile_picture "300x300" crop="center" as im %}
      <img src="{{ im.url }}" width="150" height="150" style="border: 1px solid black">
    {% endthumbnail %}

    {% if request.user.is_authenticated %}
      <div class="btn followbutton">
        <form action="{% url 'microblog:follow' profile.id %}" method="post">
          {% csrf_token %}
          <button type="submit">Follow @{{ profile.user.username }}</button>
        </form>
      </div>
    {% endif %}

    <p>"{{ profile.bio }}" - {{ profile.user.username }}</p>

    <h3>Last 10 Posts</h3>
    {% for post in profile.post_set.all|slice:":10" reversed %}
        {% include 'microblog/_post.html' %}

        {% if not forloop.last %}
        <hr>
        {% endif %}

    {% empty %}
        <p>You don't have any microposts. Get microposting!</p>

    {% endfor %}

{% endblock %}
