{% extends 'base.html' %}
{% load thumbnail %}

{% block 'title' %}User Profile{% endblock %}

{% block 'content' %}
    <h1>User Profile</h1>
    <p>
      <a href="{% url 'microblog:postlist' %}"><button class="btn btn-default">All Posts</button></a>
      {% if idea.profile.user == request.user %}
      - - - <a href="{% url 'microblog:editprofile' profile.id %}"><button class="btn btn-default">Edit Profile</button></a>
      {% endif %}
    </p>

    {% thumbnail profile.profile_picture "300x300" crop="center" as im %}
      <img src="{{ im.url }}">
    {% endthumbnail %}

    <p>{{ profile.bio }}</p>

    {% for post in profile.post_set.all|slice:":10" reversed %}
        <h5>{{ post.pub_date|date:"Y-m-d h:m:s" }}, {{ post.name }} said:</h5>
        <div class="well">
        {{ post.body }}
        </div>

        {% if not forloop.last %}
        <hr>
        {% endif %}

    {% empty %}
        <p>You don't have any microposts. Get microposting!</p>

    {% endfor %}

    <form action="{% url 'microblog:submitpost' %}" method="post">
      {% csrf_token %}
      <table class="table">
      {{ form }}
      </table>
      <button type="submit" class="btn btn-primary">Add Post</button>
    </form>

{% endblock %}
