Django==1.8.4
Pillow==2.9.0
argparse==1.2.1
da-vinci==0.2.2
django-debug-toolbar==1.4
django-extensions==1.5.7
django-guardian==1.3
django-registration-redux==1.2
django-userena==1.4.1
-e git+https://github.com/danemco/django-viewsets.git@396e70d55a826a954e6f51d4f9ee564ba5c122fe#egg=django_viewsets-master
easy-thumbnails==2.2
html2text==2014.12.29
pydot==1.0.2
pyparsing==1.5.7
shortuuid==0.4.2
six==1.10.0
sorl-thumbnail==12.3
sqlparse==0.1.16
wsgiref==0.1.2
