{% extends 'base.html' %}

{% block 'title' %}Category: {{ category.name }}{% endblock %}

{% block 'extrascripts' %}
<script>

$(document).ready(function () {
    $('#itemform').submit(
    function (event) {

        event.preventDefault();

        $.ajax({
            url: $(this).attr('action'),
            type: 'post',
            data: $(this).serialize(),
            success: function (data) {
                $('#status').text('Successfully updated ' + data.title).show();
                console.log(data);
            },
            error: function (xd4, statusText, errorText) {
                $('#status').text('Sorry. Something broke.').show();
                console.log(statusText + " : " + errorText);
            },
        });
    });

    $('#save_quantity').click(function() {
      var e = $('#id_quantity').val();
      console.log('click', e);
    });

    $("#increment").click(
      function (event) {
        form = $(this).parents("form");
        form.find("#id_quantity").val(Number(form.find("#id_quantity").val()) + 1);
        form.submit();
      });

    $("#decrement").click(
      function (event) {
        form = $(this).parents("form");
        form.find("#id_quantity").val(Number(form.find("#id_quantity").val()) - 1);
        form.submit();
      });
});

</script>
{% endblock %}

{% block 'content' %}
  <h1>{{ category.name }} Category</h1>

  <div id="status" class="alert alert-success" style="display: none;" role="alert"></div>

  <ul style="list-style-type: none;">
  {% for item in category.item_set.all %}
    <li class="list-group-item">
      {{ item.name }}<br>
      SKU: {{ item.sku }}
      quantity: {{ item.quantity }}
      <form action="." method="post" id="itemform">
        {% csrf_token %}
        {{ item_form.as_p }}
        <button id="increment" class="btn btn-default"> + </button>
        <button id="decrement" class="btn btn-default"> - </button>
        <!--<button type=submit class="btn btn-primary">Save Quantity</button>-->
      </form>
    </li>
  {% endfor %}
  </ul>

{% endblock 'content' %}
