{% extends 'base.html' %}

{% block 'title' %}Kaizen{% endblock %}

{% block 'content' %}
    <h1>Kaizen</h1>
    <p>
      <a href="{% url 'kaizen:idealist' %}"><button class="btn btn-default">All</button></a>
      {% if idea.profile.user == request.user %}
      - - - <a href="{% url 'kaizen:editidea' idea.id %}"><button class="btn btn-default">Edit</button></a>
      {% endif %}
    </p>

    {% include 'kaizen/_idea.html' %}

    {% for comment in idea.comment_set.all reversed %}
        <h5>{{ comment.pub_date|date:"Y-m-d h:m:s" }}, {{ comment.name }} said:</h5>
        <div class="well">
        {{ comment.comment_text }}
        </div>

        {% if not forloop.last %}
        <hr>
        {% endif %}

    {% empty %}
        <p>Be the first to comment on this post.</p>

    {% endfor %}

    <form action="{% url 'kaizen:submitcomment' %}" method="post">
      {% csrf_token %}
      <table class="table">
      {{ form }}
      </table>
      <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>

{% endblock %}
