{% extends 'base.html' %}

{% block 'title' %}{% if idea %}Update{% else %}Add{% endif %} Idea{% endblock %}

{% block 'content' %}
  <h1>{% if idea %}Update{% else %}Add{% endif %} your Kaizen</h1>

  <form action="." method="post" id="ideaform">
    {% csrf_token %}
    <table class="table">
      {{ form }}
    <tr><td>
      <button type="submit" class="btn btn-primary">{% if idea %}Update{% else %}Add{% endif %} Kaizen</button>
    </td></tr>
    </table>
  </form>

{% endblock 'content' %}
