* {
  font-family: 'Avenir', Arial, sans-serif;
}

body {
  background-color: #0A5;
}

footer {
}

main {
  background-color: #9FC;
  border-radius: 20px;
  float: left;
  min-height: 100%;
  width: 50%;
}

h1 {
  color: #9FC;
}

ul {
  list-style: none;
}

li {
  padding-top: 4px;
  padding-bottom: 4px;
}

li a {
  color: #0A5;
}

td {
  padding: 10px;
}

td img {
  box-shadow: 0 0 25px #000;
  height: auto;
  width: 700px;
}

.title {
  background-color: #9FC;
}
