{% extends 'base.html' %}

{% block title %}Call Logs{%endblock%}

{% block content %}

<h1>Call Logs</h1>
<hr>
<p>
  <a href="{% url 'crm:call-log_create' %}"><button class="btn btn-default">Create New Call Log</button></a>
</p>

<table class="table">
<thead>
  <tr>
    <th>Opportunity</th>
    <th>Date</th>
    <th>Note</th>
  </tr>
</thead>
<tbody>

{% for calllog in calllog_list %}
  <tr>
    <td><a href="{% url 'crm:call-log_detail' calllog.id %}">{{ calllog.opportunity }}</a></td>
    <td>{{ calllog.date }}</td>
    <td>{{ calllog.note }}</td>
  </tr>

{% empty %}
  <tr>
    <td colspan="5">
      No call logs at this time.
    </td>
  </tr>

{% endfor %}
</tbody>

{% endblock %}
