{% extends 'base.html' %}

{% block title %}Companies{%endblock%}

{% block content %}

<h1>Companies</h1>
<hr>
<p>
  <a href="{% url 'crm:company_create' %}"><button class="btn btn-default">Create New Company</button></a>
</p>

<table class="table">
<thead>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Phone</th>
  </tr>
</thead>
<tbody>

{% for company in company_list %}
  <tr>
    <td><a href="{% url 'crm:company_detail' company.id %}">{{ company.name }}</a></td>
    <td>{{ company.city }}</td>
    <td>{{ company.phone }}</td>
  </tr>

{% empty %}
  <tr>
    <td colspan="5">
      No companies at this time.
    </td>
  </tr>

{% endfor %}
</tbody>

{% endblock %}
