{% extends 'base.html' %}

{% block title %}Company: {{ company.name }}{% endblock %}

{% block content %}

<h1>Company</h1>

<div class="well">
  <h2>{{ company.name }}</h2>
  <p><a href="{{ company.website }}">{{ company.website }}</a></p>
  <p>{{ company.address1 }}</p>
  <p>{{ company.address2 }}</p>
  <p>{{ company.city }}, {{ company.state }}, {{ company.zipcode }}, {{ company.country }}</p>
  <p>{{ company.phone }}</p>
</div>

<p>
  <a href="{% url 'crm:company_update' company.id %}"><button class="btn btn-default">Edit this Company</button></a>
  <a href="{% url 'crm:company_delete' company.id %}"><button class="btn btn-default">Delete this Company</button></a>
</p>

{% endblock %}
