{% extends 'base.html' %}

{% block title %}Contact: {{ contact.name }}{% endblock %}

{% block content %}

<h1>Contact</h1>

<div class="well">
  <h2>{{ contact.get_full_name }}</h2>
  <p>{{ contact.company }}</p>
  <p>{{ contact.address1 }}</p>
  <p>{{ contact.address2 }}</p>
  <p>{{ contact.city }}, {{ contact.state }}, {{ contact.zipcode }}, {{ contact.country }}</p>
  <p>{{ contact.phone }}</p>
  <p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12727.790476754675!2d-113.56689800000001!3d37.10636435!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1449102818932" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<p>
  <a href="{% url 'crm:contact_update' contact.id %}"><button class="btn btn-default">Edit this Contact</button></a>
  <a href="{% url 'crm:contact_delete' contact.id %}"><button class="btn btn-default">Delete this Contact</button></a>
</p>

{% endblock %}
