{% extends 'base.html' %}
{% load humanize %}
{% block title %}CRM Dashboard{% endblock %}
{% block extrascripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Stage', 'Opportunities'],
          {% for stage in stage_by_opp_list %}
              ['{{ stage.name }}', {{ stage.opp_count }}],
          {% endfor %}
        ]);

        var options = {
          title: 'Opportunities by Stage',
          // legend: 'none',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Big Co. CRM</a>
                <p>Managing sales relationships since 2005</p>
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Upcoming Reminders
                </div>
                <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Opportunity</th>
                        <th>Note</th>
                        <th>Due Date</th>
                    </tr>
                    {% for reminder in reminder_list %}
                    <tr>
                      <td><a href="{% url 'crm:reminder_detail' reminder.id %}" class="text-info">{{ reminder.opportunity }}</a></td>
                        <td>{{ reminder.note }}</td>
                        <td>{{ reminder.date }}</td>
                    </tr>
                    {% empty %}
                    {% endfor %}
                </table>
                    <div class="pull-right">
                    <a href="{% url 'crm:reminder_create' %}" class="btn btn-primary btn-fab btn-raised mdi-content-add-box text-right" title="Create New Reminder">+</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Newest Opportunities
                </div>
                <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Opportunity</th>
                        <th>Stage</th>
                        <th>Value</th>
                        <th>Creation Date</th>
                    </tr>
                    {% for opp in opportunity_list %}
                    <tr>
                      <td><a href="{% url 'crm:opportunity_detail' opp.id %}" class="text-info">{{ opp }}</a></td>
                        <td>{{ opp.stage }}</td>
                        <td>${{ opp.value|intcomma }}</td>
                        <td>{{ opp.create_date|date:"j M Y" }}</td>
                    </tr>
                    {% empty %}
                    {% endfor %}


                </table>
                        <div class="pull-right">
                          <a href="{% url 'crm:opportunity_create' %}" class="btn btn-info btn-fab btn-raised btn-sm mdi-content-add-box text-right">+</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Opportunities By Stage
                </div>
                <div class="panel-body">
                    <div id="piechart" style="height: 500px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Top Producers
                </div>
                <div class="panel-body">
                    <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Opportunities Closed</th>
                    </tr>
                    <tr>
                        <td>John Doe</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>Jane Doe</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>Johnny Smith</td>
                        <td>14</td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
