{% extends 'base.html' %}

{% block title %}Opportunities{%endblock%}

{% block content %}

<h1>Opportunities</h1>
<hr>
<p>
  <a href="{% url 'crm:opportunity_create' %}"><button class="btn btn-default">Create New Opportunity</button></a>
</p>

<table class="table">
<thead>
  <tr>
    <th>Name</th>
    <th>Stage</th>
    <th>Contact</th>
    <th>Value</th>
    <th>Date</th>
  </tr>
</thead>
<tbody>

{% for opportunity in opportunity_list %}
  <tr>
    <td><a href="{% url 'crm:opportunity_detail' opportunity.id %}">{{ opportunity.name }}</a></td>
    <td>{{ opportunity.stage }}</td>
    <td>{{ opportunity.contact }}</td>
    <td>{{ opportunity.value }}</td>
    <td>{{ opportunity.create_date }}</td>
  </tr>

{% empty %}
  <tr>
    <td colspan="5">
      No opportunities at this time.
    </td>
  </tr>

{% endfor %}
</tbody>

{% endblock %}
