{% extends 'base.html' %}

{% block title %}{% if opportunity %}Update{% else %}Add{% endif %} Opportunity{%endblock%}

{% block content %}

<h1>{% if opportunity %}Update{% else %}Add{% endif %} Opportunity</h1>

<form action="." method="post" id="opportunity-form">
  {% csrf_token %}
  <table class="table">
    {{ form }}
  <tr><td>
    <button type="submit" class="btn btn-primary">{% if opportunity %}Update{% else %}Add{% endif %} Opportunity</button>
  </td></tr>
  </table>
</form>

{% endblock %}
