{% extends 'base.html' %}

{% block title %}Reports{%endblock%}

{% block content %}

<h1>Reports</h1>
<hr>
<p>
  <a href="{% url 'crm:report_create' %}"><button class="btn btn-default">Create New Report</button></a>
</p>

<table class="table">
{% for report in report_list %}
  <tr>
    <td>
      <a href="{% url 'crm:report_detail' report.id %}">{{ report.name }}</a>
      <span>--></span>
      <a href="{{ report.link }}">View</a>
    </td>
  </tr>

{% empty %}
  <tr>
    <td colspan="5">
      No reports at this time.
    </td>
  </tr>

{% endfor %}
</table>

{% endblock %}
